<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page_title }}</title>
    {{ content_for_header }}
  </head>
  <body>
    <h1>Hello World from Shopify Theme!</h1>
    {{ content_for_layout }}
  </body>
</html>

