<style>
</style>


<div class="page-wrap">
    <h1>{{ section.settings.heading_text }} </h1>
</div>

{% schema %}
{
   "name" :"Simple Section",
   "settings": [
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading",
      "default": "General Heading",
    },
    {
       "type": "richtext",
       "id": "description",
       "label": "Description",
       "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.</p>"
    }
   ],
   "blocks": [],
   "presets": [
    {
     "name": "Simple Text",

    }
   ]
}
{% endschema %}