<style>
</style>


<div class="page-wrap">
    <h1>Simple Text </h1>
</div>

{% schema %}
{
   "name" :"Simple Section",
   "settings": [
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading",
      "default": "General Heading",
    }
   ],
   "blocks": [],
   "presets": [
    {
     "name": "Simple Text"
    }
   ]
}
{% endschema %}